<div class="container">
    <div class="container-image">
        <ion-img src="../../../../assets/imgs/Oink.svg"/>
        <div>
            <h6>¿CUÁLES SON TUS DATOS?</h6>
            <p>Ahora necesitamos saber algunos datos tuyos</p>
        </div>
    </div>

    <div class="divider"></div>

    <div class="container-phone">

        <h5>Documento de identidad</h5>

        <ion-list>
            <ion-item>
                <ion-input
                    placeholder="Tipo de documento"
                />
            </ion-item>
            <ion-item>
                <ion-input
                    placeholder="Numero de documento"
                />
            </ion-item>
            <ion-item>
                <ion-input
                    placeholder="Fecha de expedicion del documento"
                />
            </ion-item>
            <ion-item>
                <ion-input
                    placeholder="Fecha de nacimiento"
                />
            </ion-item>
            <ion-item>
                <ion-input
                    placeholder="Genero"
                />
            </ion-item>
        </ion-list>

        <h5>Configura tu cuenta</h5>

        <ion-list>
            <ion-item>
                <ion-input
                    placeholder="Correo electronico"
                />
            </ion-item>
            <ion-item>
                <ion-input
                    placeholder="Confirmar correo electronico"
                />
            </ion-item>
            <ion-item>
                <ion-input
                    placeholder="PIN de seguridad"
                />
            </ion-item>
            <ion-item>
                <ion-input
                    placeholder="Confirmar PIN de seguridad"
                />
            </ion-item>
        </ion-list>

        <button>
            SIGUIENTE
        </button>
    </div>
</div>