<h6>LO MÁS IMPORTANTE</h6>

<p>
  Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona natural que de acuerdo con nuestra legislación vigente te encuentres en plena capacidad para adquirir derechos y contraer obligaciones. 
</p>

<p>
  Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo hasta por 8 salarios mínimos en el mes y realizar débitos por el mismo valor. Si deseas sobrepasar estos límites debes solicitarnos la apertura de un Depósito Ordinario COINK Persona Natural. 
</p>

<p>
  Solo puedes tener una cuenta COINK de Bajo Monto y podrás utilizar tu dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus transacciones y administrar tu cuenta.
</p>

<p>
  Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.
</p>

<h6>
  <u>Lee tu contrato</u>
</h6>

<div class="check-container">
  <ion-checkbox color="success" (click)="toogleContract()"/>
  <p>He leído ya acepto el contrato</p>
</div>

<button (click)="acceptContract()">
  ACEPTAR
</button>
