@import "../../theme/variables.scss";

ion-content {
    --ion-background-color: #28da28;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}