$green-logo: #1EEA00;
$green-bright: #28da28;
$green-dark: #004B40;
$font-family: 'Arial', sans-serif;

.button-coink {
    background-color: $green-bright;
    color: $green-dark;
    font-weight: bold;
}

button {
    width: 90%;
    padding: 18px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-family: $font-family;
    background: #EEEEEE;
    color: #757575;
    font-weight: bold;
}