$colors: (
    green-logo: #17e917,
    green-bright: #28da28,
    green-dark: #004d40,
    black-text: #3a3636,
);

$green-logo: #1EEA00;
$green-bright: #28da28;
$green-dark: #004B40;
$font-family: 'Monserrat';
$black-text: #3a3636;
