@font-face {
    font-family: 'Coink-font';
    src: url('../assets/fonts/Ballega.otf');
    font-weight: normal;
    font-style: normal;
}

$colors: (
    green-logo: #17e917,
    green-bright: #28da28,
    green-dark: #004d40,
    black-text: #3a3636,
);

$green-logo: #17e917;
$green-bright: #28da28;
$green-dark: #004d40;
$font-family: 'Coink-font', sans-serif;
$black-text: #3a3636;
