<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img
      src="../../assets/imgs/coink-icon.svg"
      alt="Icon coink"
      class="center-img"
    />

    <div class="container-text">
      <p>
        LA ALCANCIA QUE SIEMPRE TE ACOMPAÑA
      </p>
    </div>

    <div class="container-buttons">
      <button class="button-coink" (click)="navigatoToRegister()">
        REGÍSTRATE
      </button>

      <button class="signup">
        INGRESA
      </button>
    </div>
  </div>
</ion-content>