@import "../../theme/variables.scss";

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

ion-img{
  width: 125px;
}

.container-text {
  width: 80%;
}

.center-img {
  margin-top: auto;
  margin-bottom: 20px;
}

#container p {
  color: $green-logo;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px; 
  font-family: $font-family;
  font-weight: bold;
  word-spacing: 0;
}

.container-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.signup {
  background-color: $green-dark;
  font-weight: 100;
  color: white;
}