<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" text=" "/>
    </ion-buttons>
    <ion-title class="ion-text-center">NÚMERO CELULAR</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-radio-group>
        <ion-radio slot="start" disabled/>
        <ion-radio slot="start" disabled/>
        <ion-radio slot="start" disabled/>
    </ion-radio-group>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-router-outlet/>

</ion-content>
