@import "../../theme/variables.scss";

ion-header{
    background-color: white;
}

ion-img {
    width: 180px;
}

ion-title {
    font-family: $font-family;
    color: $green-dark;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15%;
}

ion-back-button {
    color: $green-logo;
}

.divider {
    flex-shrink: 0;
    width: 60px; 
    height: 1px; 
    background-color: #ccc; 
    margin: 0 8px;  
}

.toolbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
